<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>2019台灣區塊鏈產業指南｜動區動趨 BlockTempo</title>
  <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=yes' />
  <meta property="og:image" content="https://storage.googleapis.com/image.blocktempo.com/2019/01/blockchain-guide-cover-v2.png" />

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Noto+Sans+TC'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.0/css/all.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
  <link rel="apple-touch-icon" sizes="32x32" href="./favicon.ico">
  <link rel="shortcut icon" href="./favicon.ico" />
  <link rel="icon" href="./favicon.ico">

  <link rel="stylesheet" href="css/style.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110951572-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-110951572-1');
  </script>
</head>

<body>
  <!-- Navbar   -->
  <nav id="navigation" class="navbar navbar-expand-md fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="img-fluid" src="img/Logo-white-frame_工作區域 1.svg" alt>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="fas fa-grip-lines menu-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#introduction">序言</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contributors">區塊鏈先驅者</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#app">台灣產業地圖</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#news-slider">編輯觀點</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.blocktempo.com/">動區動趨首頁</a>
          </li>
          <!-- <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">選擇語言</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">繁體中文</a>
                <a class="dropdown-item" href="#">簡體中文</a>
                <a class="dropdown-item" href="#">English</a>
              </div>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header id="theme">
    <img class="big19" src="img/header-2019.png" alt="">
    <img class="purple-moon" src="img/header-purple-moon@2x.svg" alt="">
    <img class="bear" src="img/header-bear.svg" alt="">
    <img class="bull" src="img/header-bull.svg" alt="">
    <img class="chains" src="img/header-chain-all.svg" alt="">
    <img class="chains-m" src="img/header-chains-m.svg" alt="">
    <div class="topic-en">
      <span>2019</br>TAIWAN</br>BLOCKCHAIN</br>GUIDE</span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-6 col-xs-12 topic">
          <div class="taiwan-2019">
            <span class="mark mark1">[</span>
            <span clas="mark mark0">2019 @ 台灣</span>
            <span class="mark mark2">]</span>
          </div>
          <h1 class="main-topic">區塊鏈產業<span>指南</span></h1>
          <h4 class="topic-en-m">2019 TAIWAN BLOCKCHAIN GUIDE</h4>
          <!-- <p class="remind remind1">力邀12位台灣區塊鏈界先行者分享，加上台灣最完整產業生態地圖建檔，想知道更多資訊：</p> -->
          
          <div id="mc_embed_signup">
            <form class="validate" id="mc-embedded-subscribe-form" action="https://blocktempo.us17.list-manage.com/subscribe/post?u=44335b7ae345e1314b08b86d1&id=c455034c10
            " method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="novalidate">
              <div id="mc_embed_signup_scroll">
                <input class="email" id="mce-EMAIL" type="email" value="" name="EMAIL" placeholder="email address"
                  required="required" />
              </div>
              <div class="div" style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_44335b7ae345e1314b08b86d1_c455034c10
                " tabindex="-1" value="" />
              </div>
              <div class="clear">
                <input class="button from-bottom" id="mc-embedded-subscribe" type="submit" value="Submit" name="subscribe" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


  </header>

  <!-- Introduction -->
  <section id="introduction">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="headline">
            <div class="order">01</div>
            <div class="title">
              <h2 class="title-tw">序言
                <div class="cube"></div>
              </h2>
              <h4 class="title-en">Preface</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row preface-wrap">
        <div class="txt-left col-md-6 col-xs-12">
          <h4>潮水退了，有些人仍在揚帆航行...</h4>
          <p><span>2</span>018 年，密碼貨幣市場的投機行為讓價格從月球回到地表，創新伴隨著泡沫成為了必然，我們認知到：區塊鏈仍然是個處於早期階段的產業。</p>
          <p>然而，透過市值衡量這個年輕的產業發展往往不甚精準，資金的多寡雖沒改變創新的速度，卻帶來了大量的發展動能。</p>
          <p>這一年，區塊鏈與密碼貨幣的商業機遇正在被發掘、與政府高層的監管協商不斷持續、更多傳統菁英開始大膽行動，這些都是產業以往所做不到的的巨大突破，無法被量化的里程碑正不斷發生。</p>
        </div>
        <div class="txt-right col-md-6 col-xs-12">
          <h4 class="fack-title">假標題</h4>
          <p>今年區塊鏈開始融入實體產業、朝著商業落地發展，在2019年的一開始，《動區動趨BlockTempo》獨家邀請到台灣的先行者，分享他們早期涉入區塊鏈的專業觀點、剖析這個創新技術現在與未來的趨勢，並整理台灣區塊鏈產業生態，一窺這個產業至今的發展脈絡軌跡。</p>
          <div class="editor-wrap">
            <img class="editor1" src="img/preface-danny-purple.png" alt="">
            <div class="editor-intro">
              <span class="editor-name">林子鈞 Danny Lin</span></br>
              <span class="editor-title">Chief Editor</span>
            </div>

          </div>
          <div class="editor-wrap">
            <img class="editor2" src="img/preface-ennio-purple.png" alt="">
            <div class="editor-intro">
              <span class="editor-name">盧允元 Ennio Lu</span></br>
              <span class="editor-title">Deputy Editor in Chief</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Side-social-btn -->
  <div id="fixed-laptop">
    <div class="follow">FOLLOW US.</div>
    <div class="socials"><a href="#">
        <div class="coat"><i class="fab fa-facebook-f"></i></div>
      </a><a href="#">
        <div class="coat"><i class="fab fa-line"></i></div>
      </a><a href="#">
        <div class="coat"><i class="fab fa-youtube"></i></div>
      </a><a href="#">
        <div class="coat"><i class="fab fa-instagram"></i></div>
      </a></div>
  </div>

  <div id="back-to-top">
    <div class="top">BACK TO TOP</div><a href="#">
      <div class="coat"><i class="fas fa-arrow-up"></i></div>
    </a>
  </div>

  <!-- Contributors-indurtrial -->
  <section id="contributors">
    <div class="container-fluid illustration">
      <img class="illustration" src="img/contributors-taipei101.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="roww-1 col-lg-8 col-md-10 col-xs-12">
          <div class="headline">
            <div class="order">02</div>
            <div class="title">
              <h2 class="title-tw">區塊鏈先驅者
                <div class="cube"></div>
              </h2>
              <h4 class="title-en">Blockchain Pioneers</h4>
            </div>
          </div>
          <div class="head-desc">早在2014、2015年，當區塊鏈與密碼貨幣尚在蠻荒時期，一批台灣的創業者、創投、開發者已經嗅到了分散式帳本技術的潛力，數年下來，區塊鏈技術儼然成為眾人眼中的破壞式創新。經歷區塊鏈從0到1的過程，他們怎麼看待這個創新技術的發展？</div>
        </div>
      </div>
      <div class="row roww-2 justify-content-xs-center">
        <div class="col-md-4 col-sm-6 col-xs-12 d-flex">
          <div class="flip-container card card1" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <div class="card-top">
                  <div class="logo"></div>
                </div>
                <div class="card-bottom"><span class="name">劉世偉 Alex Liu</span><span class="brand">Maicoin/MAX CEO</span></div>
              </div>
              <div class="back">
                <img class="img-fluid article-cover" src="https://storage.googleapis.com/image.blocktempo.com/2019/01/maicoin-alex-liu-building-crypto-industry-in-taiwan-cover.jpg"
                  alt="">
                <a href="https://www.blocktempo.com/maicoin-alex-liu-building-crypto-industry-in-taiwan-2/" target="_blank">
                  <h4 class="title">《堅持從台灣出發，打造區塊鏈密碼貨幣產業》</h4>
                </a>
                <p class="desc">ICO 狂潮式微，STO 成為資本市場的新寵兒:過去兩年，幾千個ICO項目發出幣來..</p>
                <div class="action">
                  <a href="https://www.blocktempo.com/maicoin-alex-liu-building-crypto-industry-in-taiwan-2/" target="_blank"><button
                      class="btn btn1" role="button">閱讀文章</button></a>
                  <button class="btn btn2" type="button" data-toggle="modal" data-target="#max">公司簡介</button>
                </div>
                <div class="fold-corner">
                  <div class="container-corner">
                    <span class="top-corner"></span>
                    <span class="bottom-corner"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container card card2" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <div class="card-top">
                  <div class="logo"></div>
                </div>
                <div class="card-bottom"><span class="name">鄭光泰 Titan Cheng</span><span class="brand">幣托 BitoEX/BitoPro
                    CEO</span></div>
              </div>
              <div class="back">
                <img class="img-fluid article-cover" src="https://storage.googleapis.com/image.blocktempo.com/2019/01/bitoex.jpg" alt="">
                <a href="https://blocktempo.com/bitoex-titan-create-fintech-service/" target="_blank">
                  <h4 class="title">《客戶體驗為王，打造民眾有感的 Fintech 服務》</h4>
                </a>
                <p class="desc">由於虛擬通貨產業還很新，更多人想知道的是營運 BitoEX 和 BitoPro 所面臨的挑戰，簡單來說...</p>
                <div class="action">
                  <a href="https://blocktempo.com/bitoex-titan-create-fintech-service/" target="_blank"><button class="btn btn1"
                      role="button">閱讀文章</button></a>
                  <button class="btn btn2" type="button" data-toggle="modal" data-target="#BitoPro">公司簡介</button>
                </div>
                <div class="fold-corner">
                  <div class="container-corner">
                    <span class="top-corner"></span>
                    <span class="bottom-corner"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container card card3" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <div class="card-top">
                  <div class="logo"></div>
                </div>
                <div class="card-bottom"><span class="name">胡一天 Thomas Hu</span><span class="brand">源鉑資本 Kyber Capital
                    CEO</span></div>
              </div>
              <div class="back">
                <img class="img-fluid article-cover" src="https://storage.googleapis.com/image.blocktempo.com/2019/01/kyber-capital-thomas-hu-interview.jpg"
                  alt="">
                <a href="https://blocktempo.com/kyber-capital-thomas-hu-interview/" target="_blank">
                  <h4 class="title">《區塊鏈金融體系的現象解讀》</h4>
                </a>
                <p class="desc">「儘管金本位已如昨日黃鶴，一去不復返，人們談到貨幣時，還是用...</p>
                <div class="action"><a href="https://blocktempo.com/kyber-capital-thomas-hu-interview/" target="_blank">
                    <button class="btn btn1" role="button">閱讀文章</button></a>
                  <button class="btn btn2" type="button" data-toggle="modal" data-target="#kyber">公司簡介</button>
                </div>
                <div class="fold-corner">
                  <div class="container-corner">
                    <span class="top-corner"></span>
                    <span class="bottom-corner"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container card card4" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <div class="card-top">
                  <div class="logo"></div>
                </div>
                <div class="card-bottom"><span class="name">歐仕邁 Michael Ou</span><span class="brand">庫幣科技 CoolbitX
                    Founder</span>
                </div>
              </div>
              <div class="back">
                <img class="img-fluid article-cover" src="https://storage.googleapis.com/image.blocktempo.com/2019/01/CoolWallet.jpg"
                  alt="">
                <a href="https://www.blocktempo.com/micheal-ou-coolbitx/">
                  <h4 class="title">《台灣第一個密碼貨幣冷錢包，做用戶資產的基礎建設》</h4>
                </a>
                <p class="desc">2014 年初春，比特幣價格於 600 美元上下徘徊，虛擬貨幣概念仍鮮為人知，但在...</p>
                <div class="action">
                  <a href=" https://www.blocktempo.com/micheal-ou-coolbitx/" target="_blank">
                    <button class="btn btn1" role="button">閱讀文章</button>
                  </a>
                  <button class="btn btn2" type="button" data-toggle="modal" data-target="#coolbitx">公司簡介</button>
                </div>
                <div class="fold-corner">
                  <div class="container-corner">
                    <span class="top-corner"></span>
                    <span class="bottom-corner"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container card card5" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <div class="card-top">
                  <div class="logo"></div>
                </div>
                <div class="card-bottom"><span class="name">王俊凱 Darren Wang</span><span class="brand">奧丁丁 OwlTing CEO</span></div>
              </div>
              <div class="back">
                <img class="img-fluid article-cover" src="https://storage.googleapis.com/image.blocktempo.com/2019/01/owlting.jpg" alt="">
                <a href="https://www.blocktempo.com/owlting-from-silicon-valley-blockchain-2/">
                  <h4 class="title">《從矽谷到台灣的區塊鏈創業談》</h4>
                </a>
                <p class="desc">奧丁丁集團創辦人兼執行長，旗下有奧丁丁市集（歐簿客...</p>
                <div class="action"><a href="https://www.blocktempo.com/owlting-from-silicon-valley-blockchain-2/">
                    <button class="btn btn1" role="button">閱讀文章</button></a>
                  <button class="btn btn2" type="button" data-toggle="modal" data-target="#owlting">公司簡介</button>
                </div>
                <div class="fold-corner">
                  <div class="container-corner">
                    <span class="top-corner"></span>
                    <span class="bottom-corner"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container card card6" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <div class="card-top">
                  <div class="logo"></div>
                </div>
                <div class="card-bottom"><span class="name">宋倬榮 Tom Soong</span><span class="brand">Joyso CEO</span></div>
              </div>
              <div class="back">
                <div class="action">
                  <button class="btn btn2" type="button" data-toggle="modal" data-target="#joyso">公司簡介</button>
                </div>
                <img class="article-cover" src="https://storage.googleapis.com/image.blocktempo.com/2019/01/55-joyso-v2.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container card card7" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <div class="card-top">
                  <div class="logo"></div>
                </div>
                <div class="card-bottom"><span class="name">Sean Moss-Pultz</span><span class="brand">Bitmark CEO</span></div>
              </div>
              <div class="back">
                <img class="img-fluid article-cover" src="https://storage.googleapis.com/image.blocktempo.com/2019/01/bitmark.jpg" alt="">
                <a href="https://www.blocktempo.com/bitmark-sean-moss-pultz/">
                  <h4 class="title">《健康資料的隱私困境無法造福更多病患，區塊鏈是否有解？》</h4>
                </a>
                <p class="desc">區塊鏈狂熱這樣的「流行語（Buzzword）」只作為口號來喊遠遠不...</p>
                <div class="action"><a href="https://www.blocktempo.com/bitmark-sean-moss-pultz/">
                    <button class="btn btn1" role="button">閱讀文章</button></a>
                  <button class="btn btn2" type="button" data-toggle="modal" data-target="#bitmark">公司簡介</button>
                </div>
                <div class="fold-corner">
                  <div class="container-corner">
                    <span class="top-corner"></span>
                    <span class="bottom-corner"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container card card9" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <div class="card-top">
                  <div class="logo"></div>
                </div>
                <div class="card-bottom"><span class="name">李亞鑫 Jacob Lee</span><span class="brand">DTCO CEO</span></div>
              </div>
              <div class="back">
                <img class="img-fluid article-cover" src="https://storage.googleapis.com/image.blocktempo.com/2019/01/dtco-jacob-lee-cover.jpg"
                  alt="">
                <a href=" http://blocktempo.com/dtco-jacob-lee/" target="_blank">
                  <h4 class="title">《透過產業協作釋放區塊鏈的巨大價值》</h4>
                </a>
                <p class="desc">加密貨幣與區塊鏈帶來給世界的影響，才剛剛開始。很多人不看好區...</p>
                <div class="action"><a href=" http://blocktempo.com/dtco-jacob-lee/" target="_blank">
                    <button class="btn btn1" role="button">閱讀文章</button></a>
                  <button class="btn btn2" type="button" data-toggle="modal" data-target="#dtco">公司簡介</button>
                </div>
                <div class="fold-corner">
                  <div class="container-corner">
                    <span class="top-corner"></span>
                    <span class="bottom-corner"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container card card10" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <div class="card-top">
                  <div class="logo"></div>
                </div>
                <div class="card-bottom"><span class="name">莊青岳</span><span class="brand">度度客 Founder</span></div>
              </div>
              <div class="back">
                <img class="img-fluid article-cover" src="https://storage.googleapis.com/image.blocktempo.com/2019/01/dodoker.jpg" alt="">
                <a href="https://www.blocktempo.com/dodoker-roger-zhuang-blockchain-social-impact/">
                  <h4 class="title">《自度度人，區塊鏈將能實現社會影響力》</h4>
                </a>
                <p class="desc">回想當時在14年，我與當時學佛的老闆討論以一個工程背景，如何透過...</p>
                <div class="action"><a href="https://www.blocktempo.com/dodoker-roger-zhuang-blockchain-social-impact/">
                    <button class="btn btn1" role="button">閱讀文章</button></a>
                  <button class="btn btn2" type="button" data-toggle="modal" data-target="#duduker">公司簡介</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Contributors-community -->
  <section id="community" class="clear-filter">
    <div class="section-image" data-parallax="true"></div>
    <div class="headline">
      <div class="order">02</div>
      <div class="title">
        <h2 class="title-tw">社群持續活躍者
          <div class="cube"></div>
        </h2>
        <h4 class="title-en">Blockchain Community Devoters</h4>
      </div>
    </div>

    <div class="container-wide">
      <div class="b_card b_card1">
        <div class="b_card_top"></div>
        <div class="b_card_bottom">
          <div class="point point1">Taipei Ethereum Meetup</div>
          <div class="name">梁智程 Co-Organizer</div>
        </div>
        <div class="action"><a href="https://blocktempo.com/tem-memories-and-milestone/" target="_blank">
            <button class="btn btn1" role="button">閱讀文章</button></a>
          <button class="btn btn2" type="button" data-toggle="modal" data-target="#liang">簡介</button>
        </div>
      </div>
      <div class="b_card b_card2">
        <div class="b_card_top"></div>
        <div class="b_card_bottom">
          <div class="point point1">Taipei Ethereum Meetup</div>
          <div class="name">陳昶吾 Analyst</div>
        </div>
        <div class="action"><a href="https://blocktempo.com/amis-chief-science-officer-dr-chen/" target="_blank">
            <button class="btn btn1" role="button">閱讀文章</button></a>
          <button class="btn btn2" type="button" data-toggle="modal" data-target="#wu">簡介</button>
        </div>
      </div>
      <div class="b_card b_card3">
        <div class="b_card_top"></div>
        <div class="b_card_bottom">
          <div class="point point2">Bitcoiner</div>
          <div class="name">陳伯韋</div>
        </div>
        <div class="action"><a href="https://blocktempo.com/cypherpunk-blockchain-re-evaluation/" target="_blank">
            <button class="btn btn1" role="button">閱讀文章</button></a>
          <button class="btn btn2" type="button" data-toggle="modal" data-target="#wei">簡介</button>
        </div>
      </div>
      <div class="b_card b_card4">
        <div class="b_card_top"> </div>
        <div class="b_card_bottom">
          <div class="point point2">GPU Mine Head</div>
          <div class="name">朱昱翰</div>
        </div>
        <div class="action"><a href="https://blocktempo.com/the-road-of-mining-gpu-mine/" target="_blank">
            <button class="btn btn1" role="button">閱讀文章</button></a>
          <button class="btn btn2" type="button" data-toggle="modal" data-target="#han">簡介</button>
        </div>
      </div>
    </div>
  </section>


  <div id="app">
    <!-- 產業地圖標題 -->
    <div class="container">
      <div class="row">
        <div class="headline col-xs-12">
          <div class="order">03</div>
          <div class="title">
            <h2 class="title-tw">2019區塊鏈產業地圖
              <div class="cube"></div>
            </h2>
            <h4 class="title-en">Blockchain Industrial Map</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="head-desc col-lg-8 col-md-10 col-xs-12">檔案分為七個類別，類別內的企業/組織按照成立、加入時間排列，附有每間公司的簡介建檔，點擊該公司查看。
          資料由各公司企業提供，BlockTempo動區動趨統整。缺漏、錯誤、未納入之公司請來信Media@cryptoxlab.com
        </div>
      </div>
    </div>
    <!-- 產業地圖1 -->
    <div class="container">
      <div class="row">
        <div class="map-wrapper">
          <nav class="left">
            <div class="board board1" data-toggle="tooltip" data-placement="top" title="點擊公司LOGO觀看簡介">
              <div class="content">
                <h5 class="cat">交易平台</h5>
                <span>中心化交易所 > 交易所（支援台幣出入金、交易）</span>
                <div class="exchange" v-for="bcom in bcoms.slice(39, 44)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
              </div>
              <div class="content">
                <span>中心化交易所 > 交易所（不支援台幣出入金、交易，有場外交易平台）</span>
                <div class="exchange" v-for="bcom in bcoms.slice(44, 45)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
              </div>
              <div class="content">
                <span>中心化交易所 > 交易所（不支援台幣出入金、交易）</span>
                <div class="exchange" v-for="bcom in bcoms.slice(45, 49)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
              </div>
              <div class="content">
                <span>去中心化交易所</span>
                <div class="exchange" v-for="bcom in bcoms.slice(49, 51)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
              </div>
              <div class="content no-border">
                <span>場外交易平台</span>
                <div class="exchange" v-for="bcom in bcoms.slice(51, 52)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="board board2">
              <div class="content no-border">
                <h5 class="cat">對沖基金與風投 </h5>
                <div class="vc" v-for="bcom in bcoms.slice(57, 63)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <main class="center">
            <div class="board board3">
              <div class="content">
                <h5 class="cat">新創</h5>
                <span>區塊鏈基礎建設 > 區塊鏈</span>
                <div class="bcom" v-for="bcom in bcoms.slice(0, 7)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
              </div>
              <div class="content">
                <span>區塊鏈基礎建設 > 軟體</span>
                <div class="bcom" v-for="bcom in bcoms.slice(7, 13)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
              </div>
              <div class="content">
                <span>區塊鏈基礎建設 > 硬體錢包</span>
                <div class="bcom" v-for="bcom in bcoms.slice(13, 15)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
              </div>
              <div class="content">
                <span>技術服務</span>
                <div class="bcom" v-for="bcom in bcoms.slice(15, 22)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
              </div>
              <div class="content">
                <span>區塊鏈應用</span>
                <div class="bcom" v-for="bcom in bcoms.slice(22, 38)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
              </div>
              <div class="content no-border">
                <span>算力晶片設計</span>
                <div class="bcom" v-for="bcom in bcoms.slice(38, 39)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </main>
          <aside class="right">
            <div class="board board4">
              <div class="content no-border">
                <h5 class="cat">社群</h5>
                <div class="group" v-for="bcom in bcoms.slice(86, 96)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="board board5">
              <div class="content no-border">
                <h5 class="cat">加速器</h5>
                <div class="acce" v-for="bcom in bcoms.slice(52, 57)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="board board6">
              <div class="content no-border">
                <h5 class="cat">公部門</h5>
                <div class="gov" v-for="bcom in bcoms.slice(82, 84)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
                <div class="content">
                  <h5 class="cat">第三部門</h5>
                  <div class="exchange" v-for="bcom in bcoms.slice(84, 86)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                    <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                    <div class="infos">
                      <h5 class="name">{{bcom.name}}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="board board7">
              <div class="content no-border">
                <h5 class="cat">既有產業</h5>
                <div class="oldschool" v-for="bcom in bcoms.slice(69, 82)" data-toggle="modal" v-bind:data-target="'#'+bcom.id">
                  <div class="img-border"><img class="logo" v-bind:src="bcom.logo" /></div>
                  <div class="infos">
                    <h5 class="name">{{bcom.name}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade amodal" v-for="bcom in bcoms.slice(0, 49)" v-bind:id="bcom.id" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle"> <a href="#" data-dismiss="modal" aria-label="Close">
                < 公司簡介 </a> </h5> <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row modal-row-1">
                <div class="col-md-5 col-xs-5 modal-logo"><img v-bind:src="bcom.logo" alt="" /></div>
                <div class="col-md-6 col-xs-4 modal-intro">
                  <h4 class="company-name">{{bcom.name}}</h4><span class="slogan">{{bcom.slogan}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-xs-12 modal-row-2">
                  <div class="row col-md-4 col-xs-4 num">
                    <div class="data data1">{{bcom.attribute}}</div>
                    <div class="tag">性質</div>
                  </div>
                  <div class="row col-md-4 col-xs-4 num">
                    <div class="data data2">{{bcom.time}}</div>
                    <div class="tag">成立時間 </div>
                  </div>
                  <div class="row col-md-4 col-xs-4 num">
                    <div class="data data3">{{bcom.team}}</div>
                    <div class="tag">團隊規模</div>
                  </div>
                </div>
              </div>
              <div class="row modal-row-3">
                <div class="about col-md-12 col-xs-12">
                  <div class="title">關於</div>
                  <div class="desc">{{bcom.about}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-xs-12 modal-row-4">
                  <img class="leader" v-bind:src="bcom.leader_img" alt="" />
                  <div class="leader_name">
                    <span>{{bcom.leader_title}}:</span>
                    <div class="name">{{bcom.leader_name}}</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-10 leader-intro">
                  <span>個人經歷：</span>
                  <div class="experience">{{bcom.leader_intro}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    <div class="modal fade bmodal" v-for="bcom in bcoms.slice(57, 88)" v-bind:id="bcom.id" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle"> <a href="#" data-dismiss="modal" aria-label="Close">
                < 公司簡介 </a> </h5> <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row modal-row-1">
                <div class="col-md-5 col-xs-5 modal-logo"><img v-bind:src="bcom.logo" alt="" /></div>
                <div class="col-md-4 col-xs-4 modal-intro">
                  <h4 class="company-name">{{bcom.name}}</h4><span class="slogan">{{bcom.slogan}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <hr />
                </div>
              </div>
              <div class="row modal-row-3">
                <div class="about col-md-12 col-xs-12">
                  <div class="title">關於</div>
                  <div class="desc">{{bcom.about}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <hr />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    <div class="modal fade cmodal" v-for="bcom in bcoms.slice(49, 55)" v-bind:id="bcom.id" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle"> <a href="#" data-dismiss="modal" aria-label="Close">
                < 公司簡介 </a> </h5> <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row modal-row-1">
                <div class="col-md-5 col-xs-5 modal-logo"><img v-bind:src="bcom.logo" alt="" /></div>
                <div class="col-md-6 col-xs-4 modal-intro">
                  <h4 class="company-name">{{bcom.name}}</h4><span class="slogan">{{bcom.slogan}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-xs-12 modal-row-2">
                  <div class="row col-md-4 col-xs-4 num">
                    <div class="data data1">{{bcom.attribute}}</div>
                    <div class="tag">性質</div>
                  </div>
                  <div class="row col-md-4 col-xs-4 num">
                    <div class="data data2">{{bcom.time}}</div>
                    <div class="tag">成立時間 </div>
                  </div>
                  <div class="row col-md-4 col-xs-4 num">
                    <div class="data data3">{{bcom.team}}</div>
                    <div class="tag">團隊規模</div>
                  </div>
                </div>
              </div>
              <div class="row modal-row-3">
                <div class="about col-md-12 col-xs-12">
                  <div class="title">關於</div>
                  <div class="desc">{{bcom.about}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-xs-12 modal-row-4">
                  <img class="leader" v-bind:src="bcom.leader_img" alt="" />
                  <div class="leader_name">
                    <span>{{bcom.leader_title}}:</span>
                    <div class="name">{{bcom.leader_name}}</div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-xs-10 leader-intro">
                  <span>個人經歷：</span>
                  <div class="experience">{{bcom.leader_intro}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-xs-12 modal-row-4">
                  <img class="leader" v-bind:src="bcom.leader_img_2" alt="" />
                  <div class="leader_name">
                    <span>{{bcom.leader_title_2}}</span>
                    <div class="name">{{bcom.leader_name_2}}</div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-xs-10 leader-intro">
                  <div class="experience">{{bcom.leader_intro_2}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

  </div>


  <!-- Quote -->
  <hr>
  <div id="quote" class="container">
    <div class="row">
      <div class="headline col-xs-12">
        <div class="order">05</div>
        <div class="title">
          <h2 class="title-tw">領導力觀點
            <div class="cube"></div>
          </h2>
          <h4 class="title-en">What People Say About Blockchain</h4>
        </div>
      </div>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="figure1" class="container tab-pane show active"><br>
        <h3>我們期待已投入區塊鏈領域的精英們，能養光韜晦，讓不久未來的現實社會，能更容易接受區塊鏈帶來的改變。
          <img class="comma" src="img/comma.svg" alt="">
        </h3>
        <p>在 2019 新的一年來回顧 2018
          年加密貨幣市場，從年初的高峰跌落了一整年，跌去了廣大投機群眾的盲目，卻仍澆熄不了工程師們對區塊鏈技術追求的熱情。從泡沫回到現實，區塊鏈正對於共識層、交易速度、智能合約等特性，加速發展中。這些區塊鏈的軟體發展，正如那些當年改變人類生活習慣般的智慧型手機般，試圖顛覆過去對於資料驗證、資訊透明、金融操作、網路合約等各領域的保守做法。我們期待已投入區塊鏈領域的精英們，能養光韜晦，讓不久未來的現實社會，能更容易接受區塊鏈帶來的改變。
        </p>
        <span class="byline">徐千洋｜HITCON創辦人、臺灣駭客協會理事長</span>
      </div>
      <div id="figure2" class="container tab-pane fade"><br>
        <h3>那是最美好的時代，也是最壞的時代；是智慧的時代，也是愚蠢的時代；是信仰的時代
          <img class="comma" src="img/comma.svg" alt="">
        </h3>
        <p>「那是最美好的時代，也是最壞的時代；是智慧的時代，也是愚蠢的時代；是信仰的時代，也是懷疑的時代；是光明的季節，也是黑暗的季節；是洋溢希望的春天，也是令人絕望的冬天。」</p>
        <p>我福至心靈，複習狄更斯《雙城記》的開場白，發現拿來描述虛擬貨幣的現在，再適合也不過了。或許陳奕迅的《十年》也很適合：「十年之前，我不認識你，你不屬於我。」但是我們終究認識了比特幣以太幣，也終於看他起高樓，看他樓塌了。</p>
        <p>我們都得承認，虛擬貨幣曾經包藏了不少泡沫，現在面臨是否要reset的抉擇。不過我們也因此回到基本面，再確認虛擬貨幣是區塊鏈的主要運用之一，但是我們過去都只有正面看著虛擬貨幣，沒有好好瞧著區塊鏈。</p>
        <p>所以接下來該是好好看著區塊鏈的廣泛運用的時候了，我們可以用狄更斯接下來的形容，想像未來的區塊鏈：「我們的前途擁有一切，我們的前途一無所有；我們正走向天堂，我們也步向地獄。總之，那個時代和現在是如此的相像，以至於最喧鬧的一些專家，不論說好說壞，都堅持只能用最高級的形容詞來描述它。」</p>
        <span class="byline">劉奕成｜將來銀行籌備處執行長</span>
      </div>
      <div id="figure3" class="container tab-pane fade"><br>
        <h3>立基於優秀的科技人才以及優越的地理位置，台灣發展區塊鏈產業其實帶有許多先天優勢。
          <img class="comma" src="img/comma.svg" alt="">
        </h3>
        <p>台灣近幾年在區塊鏈產業上的急起直追，是產業界有目共睹的，而快速發展的過程伴隨而來的是衍生的問題以及跟不上的法規。立基於優秀的科技人才以及優越的地理位置，台灣發展區塊鏈產業其實帶有許多先天優勢。</p>
        <p>近期我們除了看到新北即將成立區塊鏈特區，也看到雖然不完全是用用區塊鏈技術但立意良好的「高雄幣」以及有望今年會成立的區塊鏈卓越培訓中心等，都會是台灣區塊鏈產業發展的里程碑。未來除了監督政府落實多項相關政策以外，我也會繼續奔走國際，讓台灣因為區塊鏈而再度被看見。</p>
        <span class="byline">許毓仁｜立法委員</span>
      </div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="figure1-tab" data-toggle="tab" href="#figure1" role="tab" aria-controls="figure1"
          aria-selected="true">
          <div class="figure">
            <img class="photo" src="img/xu_qian_yang.png" alt="">
            <div classs="down">
              <span class="name">徐千洋 Tim Hsu</span>
              <span class="title">HITCON創辦人、</br>臺灣駭客協會理事長</span>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="figure2-tab" data-toggle="tab" href="#figure2" role="tab" aria-controls="figure2"
          aria-selected="false">
          <div class="figure">
            <img class="photo" src="img/ic.png" alt="">
            <div classs="down">
              <span class="name">劉奕成 IC Liu</span>
              <span class="title">將來銀行籌備處執行長</span>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="figure3-tab" data-toggle="tab" href="#figure3" role="tab" aria-controls="figure3"
          aria-selected="false">
          <div class="figure">
            <img class="photo" src="https://storage.googleapis.com/image.blocktempo.com/2019/01/49-Jason-Hsu.jpg" alt="">
            <div classs="down">
              <span class="name">許毓仁 Jason Hsu</span>
              <span class="title">立法委員</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <!-- News Slider -->
  <div id="news-slider" class="wrapper">
    <div class="background">
    </div>
    <div class="item-bg"></div>

    <div class="news-slider">
      <div class="headline">
        <div class="order">04</div>
        <div class="title">
          <h2 class="title-tw">編輯觀點
            <div class="cube"></div>
          </h2>
          <h4 class="title-en">Editor Insights</h4>
        </div>
      </div>
      <div class="news-slider__wrp swiper-wrapper">
        <div class="news-slider__item swiper-slide">
          <a href="https://www.blocktempo.com/web-3-0-blockcahin-n-internet/" class="news__item" target="_blank">
            <div class="news-date">
              <i class="far fa-user-circle"></i>
              <span class="news-date__txt">Ennio Y. Lu</span>
            </div>
            <div class="news__img">
              <img src="https://storage.googleapis.com/image.blocktempo.com/2019/01/web-3-0-blockcahin-n-internet.jpg" alt="news">
            </div>
            <div class="news__title">
              通往Web3.0的發展：區塊鏈與互聯網的不同使命
            </div>

            <p class="news__txt">
              在創新科技的發展中，最引人注目就是泡沫。歷史上曾有過南海泡沫、荷蘭鬱金香和.com泡沫等值得參考的泡沫事件，而現在...
            </p>


          </a>
        </div>

        <div class="news-slider__item swiper-slide">
          <a href="https://www.blocktempo.com/new-year-6-blockchain-experiences/" class="news__item" target="_blank">
            <div class="news-date">
              <span class="news-date__txt">
                <i class="far fa-user-circle"></i>
                <span class="news-date__txt">Ennio Y. Lu</span>
              </span>
            </div>
            <div class="news__img">
              <img src="https://storage.googleapis.com/image.blocktempo.com/2018/12/IMG_1139-2.jpg" alt="news">
            </div>
            <div class="news__title">
              2018過去，又是一個區塊鏈年：六個我們今年收穫的Blockchain經驗
            </div>

            <p class="news__txt">
              常有人問區塊鏈都十年了怎麼還懸浮空中，互聯網當時這個時候也應該有應用落地了。事實上，區塊鏈真正受到全世界關注也不過是這三年的事情...
            </p>


          </a>
        </div>

        <div class="news-slider__item swiper-slide">
          <a href="https://www.blocktempo.com/5-milestones-in-crypto-history/" target="_blank" class="news__item">
            <div class="news-date">
              <span class="news-date__txt">
                <i class="far fa-user-circle"></i>
                <span class="news-date__txt"> Ennio Y. Lu</span>
              </span>
            </div>
            <div class="news__img">
              <img src="https://storage.googleapis.com/image.blocktempo.com/2018/12/5-Crypto-milestone-0.jpg" alt="news">
            </div>
            <div class="news__title">
              2018年末回顧區塊鏈史上的「五大里程碑」
            </div>

            <p class="news__txt">
              2018年12月31日，區塊鏈10.166667歲。2018年是個令密碼貨幣、區塊鏈愛好者五味雜陳的一年。在一位自稱為中本聰的神秘人士於
              2008年發表論文...
            </p>
          </a>
        </div>

        <div class="news-slider__item swiper-slide">
          <a href="https://www.blocktempo.com/which-blockchain-analysis/" class="news__item" target="_blank">
            <div class="news-date">
              <span class="news-date__txt">
                <i class="far fa-user-circle"></i>
                <span class="news-date__txt">Ennio Y. Lu</span>
              </span>
            </div>
            <div class="news__img">
              <img src="https://storage.googleapis.com/image.blocktempo.com/2018/12/which-blockchain-analysis.jpg" alt="news">
            </div>
            <div class="news__title">
              企業該選擇哪種鏈？ —— 公有鏈 vs. 私有鏈 vs. 聯盟鏈
            </div>

            <p class="news__txt">
              區塊鏈一開始問世是以比特幣之姿，公開透明、公平競爭。隨後世界開始探索如何把區塊鏈用在各種場景，許多人就想到，也許不需
              要全世界人的參與，也不需要挖礦...
            </p>
          </a>
        </div>

        <div class="news-slider__item swiper-slide">
          <a href="https://www.blocktempo.com/the-un-unctad-wif2018-b4sd/" class="news__item" target="_blank">
            <div class="news-date">
              <span class="news-date__txt">
                <i class="far fa-user-circle"></i>
                <span class="news-date__txt">Ennio Y. Lu</span>
              </span>
            </div>
            <div class="news__img">
              <img src="https://storage.googleapis.com/image.blocktempo.com/2018/11/untac-wif-2.jpg" alt="news">
            </div>
            <div class="news__title">
              聯合國給「科技未來」的一封信——“永續發展”面臨的關鍵挑戰
            </div>

            <p class="news__txt">
              聯合國UNCTAD貿易與發展會議在10月22-26於瑞士日內瓦聯合國總部萬國宮舉行，本次眾多個議程有許多是探討科技如何
              幫助聯合國SDG發展目標。而兩年一度的World Investment Forum...
            </p>
          </a>
        </div>
      </div>

      <div class="news-slider__ctr">

        <div class="news-slider__arrows">
          <button class="news-slider__arrow news-slider-prev">
            <span class="icon-font">
              <svg class="icon icon-arrow-left">
                <use xlink:href="#icon-arrow-left"></use>
              </svg>
            </span>
          </button>
          <button class="news-slider__arrow news-slider-next">
            <span class="icon-font">
              <svg class="icon icon-arrow-right">
                <use xlink:href="#icon-arrow-right"></use>
              </svg>
            </span>
          </button>
        </div>

        <div class="news-slider__pagination"></div>

      </div>

    </div>

  </div>

  <svg hidden="hidden">
    <defs>
      <symbol id="icon-arrow-left" viewBox="0 0 32 32">
        <title>arrow-left</title>
        <path d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z"></path>
      </symbol>
      <symbol id="icon-arrow-right" viewBox="0 0 32 32">
        <title>arrow-right</title>
        <path d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z"></path>
      </symbol>
    </defs>
  </svg>

  <!-- News Letter -->
  <section id="edm">
    <div class="cube"></div>
    <div class="upper-txt">
      <h2>動區動趨 BlockTempo 新聞電子報訂閱</h2>
    </div>
    <div id="mc_embed_signup">
      <form class="validate" id="mc-embedded-subscribe-form" action="https://blocktempo.us17.list-manage.com/subscribe/post?u=44335b7ae345e1314b08b86d1&amp;id=c455034c10"
        method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="novalidate">
        <div id="mc_embed_signup_scroll">
          <input class="email" id="mce-EMAIL" type="email" value="" name="EMAIL" placeholder="Your work email" required="required" />
        </div>
        <div class="div" style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_44335b7ae345e1314b08b86d1_e244acf46a" tabindex="-1" value="" />
        </div>
        <div class="clear">
          <input class="button from-bottom" id="mc-embedded-subscribe" type="submit" value="Submit" name="subscribe" />
        </div>
      </form>
    </div>
  </section>

  <!-- footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="blocktempo col-md-4 col-xs-12"><img class="our-logo" src="img/logo-2.png" alt="" />
          <span>《動區動趨BlockTempo》為台灣最有影響力的全方位區塊鏈媒體。透過零時差的帶進世界各國全方面區塊鏈資訊，挖掘並發揚台灣的在地社群聲音與獨立觀點，也經營各類深度社群。企圖加速推動台灣在區塊鏈時代的產業革命和改革主流媒體在區塊鏈方面的資訊環境。</span>
          <div class="share-btn-kit"><a href="https://www.facebook.com/BlockTempo"><i class="fab fa-facebook-square"></i></a><a
              href="https://line.me/R/ti/p/%40kgx9780p"><i class="fab fa-line"></i></a><a href="https://www.youtube.com/channel/UCUcqDLiNiZvd98wzDlzIJ1g/videos?view_as=subscriber"><i
                class="fab fa-youtube"></i></a><a href="https://www.instagram.com/blocktemponews/"><i class="fab fa-instagram"></i></a><a
              href="https://www.blocktempo.com/feed/"><i class="fas fa-rss-square"></i></a></div>
        </div>
        <div class="category col-md-4 col-xs-12">
          <div class="row">
            <h6 class="title">主題分類</h6>
          </div>
          <div class="row">
            <ul class="left col-xs-6"> <a href="https://www.blocktempo.com/">
                <li>首頁</li>
              </a><a href="https://www.blocktempo.com/category/latest-news/">
                <li>即時新聞</li>
              </a><a href="https://www.blocktempo.com/category/technology/">
                <li>技術</li>
              </a><a href="https://www.blocktempo.com/category/cryptocurrency-market/">
                <li>加密貨幣市場</li>
              </a><a href="https://www.blocktempo.com/category/business/">
                <li>區塊鏈商業應用</li>
              </a></ul>
            <ul class="right col-xs-6"><a href="https://www.blocktempo.com/category/exclusive-interview/">
                <li>人物專訪</li>
              </a><a href="https://www.blocktempo.com/category/insight/">
                <li>獨立觀點</li>
              </a><a href="https://www.blocktempo.com/category/analysis/">
                <li>數據報告</li>
              </a><a href="https://www.blocktempo.com/category/legal/">
                <li>法規</li>
              </a><a href="https://www.blocktempo.com/category/crypto-guide/">
                <li>新手教學</li>
              </a></ul>
          </div>
        </div>
        <div class="banner col-md-4 col-xs-12">
          <h6 class="title">其他服務</h6>
          <a href="https://www.youtube.com/channel/UCUcqDLiNiZvd98wzDlzIJ1g/videos?view_as=subscriber">
            <div class="bgc"><img class="tv" src="https://i.imgur.com/VQt1SzJ.png" alt="" /></div>
          </a>
          <a href="https://www.facebook.com/BlockMeet/"><img class="meet" src="https://i.imgur.com/zZRo2PL.png" alt="" /></a>
        </div>
      </div>
      <div class="row col-xs-12">
        <hr />
      </div>
      <div class="row">
        <div class="copyright col-md-4 col-xs-12 ml-auto"><span class="mr-auto">Copyright © 2018 BlockTempo.</span></div>
      </div>
    </div>
  </footer>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
  <script src="js/index.js"></script>
</body>

</html>